$color: rgb(23, 64, 110);
.paragraph {
    text-align: center;
    font-family: calibri;
    width: 50%;
    font-size: large;
}
.stocks{
    width: 20%;
    padding: 1%;
}
div{
    ul{
    width: 60%;
    text-align: left;
    }
    ul > li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    }       
}
.title {
    width: 40%;
    color: $color;
}
.image{
    width: 400px;
}
#list{
    width: 30%;
}
#table{
    width: 50%;
}
a:hover{
    color: red;
    font-weight: bold;
    background-color: seagreen;
}
@media(max-width: 1000px){
    #list{
        width: 70%;
    }
    #table{
        width: 80%;
    }
    .title {
        width: 80%;
    }
    .paragraph {
        text-align: center;
        font-family: calibri;
        width: 70%;
        font-size: large;
    }
}